.ais3 {
    position: relative;
    line-height: 67px;
    display: inline-block;
    min-width: 114px;
  }
  .a-i-s-container {
    width: 400px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 var(--padding-xl);
    box-sizing: border-box;
    max-width: 100%;
  }
  .automatic-invigilating-system3 {
    margin: 0;
    align-self: stretch;
    position: relative;
    font-size: var(--font-size-11xl);
    line-height: 100%;
    font-weight: 400;
    font-family: var(--font-mountains-of-christmas);
    color: var(--color-black);
    white-space: pre-wrap;
  }
  .container,
  .content1 {
    width: 418px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .container {
    width: 636px;
    flex-direction: row;
    justify-content: center;
    color: var(--color-darkslategray-100);
  }
  .enter-your-new {
    margin: 0;
    position: relative;
    font-size: inherit;
    line-height: 40px;
    font-weight: 400;
    font-family: inherit;
  }
  .password-title {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 var(--padding-xl);
  }
  .new-password {
    width: 116px;
    border: 0;
    outline: 0;
    font-family: var(--font-poppins);
    font-size: var(--font-size-base);
    background-color: transparent;
    height: 40px;
    position: relative;
    line-height: 40px;
    color: var(--color-darkgray);
    text-align: left;
    display: inline-block;
    padding: 0;
  }
  .password-labels-child {
    align-self: stretch;
    height: 1px;
    position: relative;
    border-top: 1px solid var(--color-darkgray);
    box-sizing: border-box;
  }
  .password-labels {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-6xs);
  }
  .confirmation-password {
    width: 187px;
    border: 0;
    outline: 0;
    font-family: var(--font-poppins);
    font-size: var(--font-size-base);
    background-color: transparent;
    height: 40px;
    position: relative;
    line-height: 40px;
    color: var(--color-darkgray);
    text-align: left;
    display: inline-block;
    padding: 0;
  }
  .password-labels-item {
    align-self: stretch;
    height: 1px;
    position: relative;
    border-top: 1px solid var(--color-darkgray);
    box-sizing: border-box;
  }
  .password-labels1 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-6xs);
  }
  .frame-inner {
    height: 60px;
    width: 575px;
    position: relative;
    border-radius: var(--br-5xs);
    background-color: var(--color-cornflowerblue);
    display: none;
    max-width: 100%;
  }
  .submit {
    position: relative;
    font-size: var(--font-size-base);
    line-height: 40px;
    font-weight: 600;
    font-family: var(--font-poppins);
    color: var(--color-white);
    text-align: left;
    display: inline-block;
    min-width: 59px;
    z-index: 1;
  }
  .rectangle-group,
  .submit-button-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    box-sizing: border-box;
    max-width: 100%;
  }
  .rectangle-group {
    cursor: pointer;
    border: 0;
    padding: var(--padding-3xs) var(--padding-xl);
    background-color: var(--color-cornflowerblue);
    flex: 1;
    border-radius: var(--br-5xs);
    justify-content: center;
  }
  .rectangle-group:hover {
    background-color: var(--color-royalblue-100);
  }
  .submit-button-container {
    width: 619px;
    justify-content: flex-end;
    padding: 0 22px;
  }
  .password-container,
  .password-inputs {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 100%;
  }
  .password-inputs {
    margin: 0;
    align-self: stretch;
    align-items: flex-end;
    gap: 31px;
  }
  .password-container {
    width: 636px;
    align-items: flex-start;
    padding: 0 0 7.7px;
    box-sizing: border-box;
    gap: 65.3px;
    font-size: var(--font-size-11xl);
  }
  .fasco-terms2 {
    position: relative;
    line-height: 40px;
  }
  .signup3,
  .terms-container {
    display: flex;
    align-items: flex-start;
  }
  .terms-container {
    align-self: stretch;
    flex-direction: row;
    justify-content: flex-end;
    font-size: var(--font-size-base);
    font-family: var(--font-poppins);
  }
  .signup3 {
    width: 100%;
    position: relative;
    border-radius: 0 var(--br-11xl) var(--br-11xl) 0;
    background-color: var(--color-white);
    border: 1px solid var(--color-gainsboro);
    box-sizing: border-box;
    overflow: hidden;
    flex-direction: column;
    justify-content: flex-start;
    padding: 305px var(--padding-61xl) var(--padding-5xl) 641px;
    gap: 138px;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    font-size: var(--font-size-47xl-6);
    color: var(--color-black);
    font-family: var(--font-volkhov);
  }
  @media screen and (max-width: 975px) {
    .signup3 {
      gap: 69px;
      padding-left: 320px;
      padding-right: var(--padding-21xl);
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 950px) {
    .ais3 {
      font-size: var(--font-size-34xl);
      line-height: 53px;
    }
    .automatic-invigilating-system3,
    .enter-your-new {
      font-size: var(--font-size-5xl);
      line-height: 24px;
    }
    .enter-your-new {
      line-height: 32px;
    }
  }
  @media screen and (max-width: 700px) {
    .password-inputs {
      gap: 15px;
    }
    .password-container {
      gap: 33px;
    }
    .signup3 {
      gap: 34px;
      padding-left: 160px;
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 450px) {
    .ais3 {
      font-size: var(--font-size-21xl);
      line-height: 40px;
    }
    .automatic-invigilating-system3,
    .enter-your-new {
      font-size: var(--font-size-lg);
      line-height: 18px;
    }
    .enter-your-new {
      line-height: 24px;
    }
    .password-container {
      gap: 16px;
    }
  }
  