.ais2 {
    position: relative;
    line-height: 67px;
    display: inline-block;
    min-width: 114px;
  }
  .a-i-s-banner {
    width: 400px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 var(--padding-xl);
    box-sizing: border-box;
    max-width: 100%;
  }
  .automatic-invigilating-system2 {
    margin: 0;
    align-self: stretch;
    position: relative;
    font-size: var(--font-size-11xl);
    line-height: 100%;
    font-weight: 400;
    font-family: var(--font-mountains-of-christmas);
    color: var(--color-black);
    white-space: pre-wrap;
  }
  .a-i-s-banner-parent,
  .signup-child {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .a-i-s-banner-parent {
    flex: 1;
    flex-direction: column;
  }
  .signup-child {
    width: 526px;
    flex-direction: row;
    padding: 0 var(--padding-35xl);
    box-sizing: border-box;
    color: var(--color-darkslategray-100);
  }
  .enter-the-confirmation {
    margin: 0;
    position: relative;
    font-size: inherit;
    line-height: 40px;
    font-weight: 400;
    font-family: inherit;
  }
  .enter-the-confirmation-code-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 48px;
    box-sizing: border-box;
    max-width: 100%;
  }
  .confirmation-code {
    position: relative;
    letter-spacing: 0.08em;
    line-height: 40px;
  }
  .confirmation-code-label {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 37px;
  }
  .plan {
    align-self: stretch;
    height: 1px;
    position: relative;
    border-top: 1px solid var(--color-darkgray);
    box-sizing: border-box;
  }
  .code-input-field,
  .code-input-label {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
  }
  .code-input-label {
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
  }
  .code-input-field {
    align-self: stretch;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0 12px 0 11px;
    box-sizing: border-box;
  }
  .destination-cards-child {
    height: 60px;
    width: 575px;
    position: relative;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.15);
    border-radius: var(--br-3xs);
    background-color: var(--color-black);
    display: none;
    max-width: 100%;
  }
  .recover-account {
    position: relative;
    font-size: var(--font-size-base);
    line-height: 40px;
    font-weight: 600;
    font-family: var(--font-poppins);
    color: var(--color-white);
    text-align: left;
    z-index: 1;
  }
  .destination-cards {
    cursor: pointer;
    border: 0;
    padding: var(--padding-3xs) var(--padding-xl) var(--padding-3xs)
      var(--padding-2xl);
    background-color: var(--color-black);
    align-self: stretch;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.15);
    border-radius: var(--br-3xs);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    box-sizing: border-box;
    max-width: 100%;
  }
  .destination-cards:hover {
    background-color: var(--color-darkslategray-200);
  }
  .resend-now {
    color: var(--color-cornflowerblue);
  }
  .didnt-receive-confirmation-container {
    position: relative;
    letter-spacing: 0.08em;
    line-height: 40px;
  }
  .resend-code {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 var(--padding-35xl);
    box-sizing: border-box;
    max-width: 100%;
    text-align: center;
    color: var(--color-black);
  }
  .code-input-field-parent,
  .frame-div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 100%;
  }
  .code-input-field-parent {
    align-self: stretch;
    align-items: flex-end;
    gap: 22.6px;
    font-size: var(--font-size-base);
    color: var(--color-darkgray);
    font-family: var(--font-poppins);
  }
  .frame-div {
    width: 575px;
    align-items: flex-start;
    padding: 0 0 57.7px;
    box-sizing: border-box;
    gap: var(--gap-54xl);
    font-size: var(--font-size-11xl);
  }
  .fasco-terms1 {
    position: relative;
    line-height: 40px;
  }
  .fasco-terms-codnitions-container {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    font-size: var(--font-size-base);
    font-family: var(--font-poppins);
  }
  .signup2 {
    width: 100%;
    position: relative;
    border-radius: 0 var(--br-11xl) var(--br-11xl) 0;
    background-color: var(--color-white);
    border: 1px solid var(--color-gainsboro);
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 355px var(--padding-61xl) var(--padding-5xl) 726px;
    gap: 100px;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    font-size: var(--font-size-47xl-6);
    color: var(--color-black);
    font-family: var(--font-volkhov);
  }
  @media screen and (max-width: 975px) {
    .signup2 {
      gap: 50px;
      padding-left: 363px;
      padding-right: var(--padding-21xl);
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 950px) {
    .ais2 {
      font-size: var(--font-size-34xl);
      line-height: 53px;
    }
    .automatic-invigilating-system2,
    .enter-the-confirmation {
      font-size: var(--font-size-5xl);
      line-height: 24px;
    }
    .enter-the-confirmation {
      line-height: 32px;
    }
  }
  @media screen and (max-width: 700px) {
    .signup-child {
      padding-left: var(--padding-8xl);
      padding-right: var(--padding-8xl);
      box-sizing: border-box;
    }
    .enter-the-confirmation-code-wrapper,
    .resend-code {
      padding-left: var(--padding-5xl);
      padding-right: var(--padding-5xl);
      box-sizing: border-box;
    }
    .resend-code {
      padding-left: var(--padding-8xl);
      padding-right: var(--padding-8xl);
    }
    .frame-div {
      gap: 36px;
    }
    .signup2 {
      gap: 25px;
      padding-left: 181px;
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 450px) {
    .ais2 {
      font-size: var(--font-size-21xl);
      line-height: 40px;
    }
    .automatic-invigilating-system2,
    .enter-the-confirmation {
      font-size: var(--font-size-lg);
      line-height: 18px;
    }
    .enter-the-confirmation {
      line-height: 24px;
    }
    .frame-div {
      gap: 18px;
      padding-bottom: 38px;
      box-sizing: border-box;
    }
  }
  