<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="{{url_for("static", path="/css/add_new_student.css")}}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Volkhov:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Mountains of Christmas:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Cairo:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Helvetica:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=DM Sans:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="add-new-student">
      <div class="side-menu6">
        <div class="background42"></div>
        <div class="side-menu-inner1">
          <div class="frame-parent22">
            <div class="rectangle-parent1">
              <div class="frame-child4"></div>
              <a class="a5">A</a>
            </div>
            <a class="akademi5">Akademi</a>
          </div>
        </div>
        <div class="content6">
          <div class="list7">
            <div class="dashboard40">
              <img
                class="home-icon6"
                loading="lazy"
                alt=""
                src="{{url_for("static", path="/public/home1.svg")}}"
              />

              <div class="dashboard-wrapper29">
                <a class="dashboard41">Dashboard</a>
              </div>
            </div>
            <div class="students9">
              <img
                class="student-icon6"
                loading="lazy"
                alt=""
                src="{{url_for("static", path="/public/student.svg")}}"
              />

              <div class="email-wrapper4">
                <a class="email7">Students</a>
              </div>
            </div>
            <div class="teachers7">
              <img
                class="teacher-icon6"
                loading="lazy"
                alt=""
                src="{{url_for("static", path="/public/teacher1.svg")}}"
              />

              <div class="contact-wrapper4">
                <a class="contact8">Teachers</a>
              </div>
            </div>
            <div class="event6">
              <img
                class="calendar-icon7"
                loading="lazy"
                alt=""
                src="{{url_for("static", path="/public/calender.svg")}}"
              />

              <div class="crypto-wrapper3">
                <div class="crypto5">Event</div>
              </div>
            </div>
            <div class="finance6">
              <img
                class="finance-icon6"
                loading="lazy"
                alt=""
                src="./public/finance.svg"
              />

              <div class="dashboard-wrapper30">
                <div class="dashboard42">Finance</div>
              </div>
            </div>
            <div class="food7">
              <img
                class="food-icon5"
                loading="lazy"
                alt=""
                src="{{url_for("static", path="/public/food.svg")}}"
              />

              <div class="dashboard-wrapper31">
                <div class="dashboard43">Food</div>
              </div>
            </div>
            <div class="user6">
              <img
                class="user-icon11"
                loading="lazy"
                alt=""
                src="{{url_for("static", path="/public/user.svg")}}"
              />

              <div class="dashboard-wrapper32">
                <div class="dashboard44">User</div>
              </div>
            </div>
            <div class="chat3">
              <img
                class="chat-icon3"
                loading="lazy"
                alt=""
                src="{{url_for("static", path="/public/chat.svg")}}"
              />

              <div class="dashboard-wrapper33">
                <div class="dashboard45">Chat</div>
              </div>
            </div>
            <div class="activity6">
              <img
                class="activity-icon6"
                loading="lazy"
                alt=""
                src="{{url_for("static", path="/public/activity.svg")}}g"
              />

              <div class="dashboard-wrapper34">
                <div class="dashboard46">Lastest Activity</div>
              </div>
            </div>
          </div>
        </div>
        <div class="header2">
          <b class="akademi-school5">Akademi - School Admission Dashboard</b>
          <div class="made-with5">Made with ♥ by Peterdraw</div>
        </div>
      </div>
      <main class="profile3">
        <section class="profile-info-parent">
          <div class="profile-info3">
            <h1 class="add-new-student1">Add New Student</h1>
            <div class="user7">
              <div class="wrapper-notification5">
                <img
                  class="notification-icon6"
                  loading="lazy"
                  alt=""
                  src="{{url_for("static", path="/public/notification.svg")}}"
                />
              </div>
              <div class="settings-icon">
                <div class="setting5">
                  <div class="bg15"></div>
                  <img
                    class="gear-icon5"
                    loading="lazy"
                    alt=""
                    src="{{url_for("static", path="/public/gear.svg")}}"
                  />
                </div>
              </div>
              <div class="user-info1">
                <div class="user-name">
                  <div class="nabila-a5">Nabila A.</div>
                  <div class="user-role">
                    <div class="admin5">Admin</div>
                  </div>
                </div>
              </div>
              <div class="placeholder53"></div>
            </div>
          </div>
          <div class="student-details7">
            <div class="bg16"></div>
            <div class="title12">
              <div class="title-item"></div>
              <b class="student-details8">Student Details</b>
            </div>
            <div class="student-form">
              <div class="student-form-container">
                <div class="photo-parent">
                  <div class="photo">Photo *</div>
                  <div class="form14">
                    <div class="form15"></div>
                    <div class="drag-and-drop-container">
                      <p class="drag-and-drop">Drag and drop or</p>
                      <p class="click-here-to">click here to select file</p>
                    </div>
                  </div>
                </div>
                <div class="personal-info">
                  <div class="name-and-birth">
                    <div class="name-and-birth-fields">
                      <div class="first-name">First Name *</div>
                      <div class="form16">
                        <div class="form17"></div>
                        <input
                          class="samantha2"
                          placeholder="Samantha"
                          type="text"
                        />
                      </div>
                    </div>
                    <div class="name-and-birth-fields1">
                      <div class="date-place">Date & Place of Birth *</div>
                      <div class="form-parent">
                        <div class="form18">
                          <div class="form19"></div>
                          <input
                            class="februari-19971"
                            placeholder="24 Februari 1997"
                            type="text"
                          />
                        </div>
                        <div class="form20">
                          <div class="form21"></div>
                          <input
                            class="jakarta6"
                            placeholder="Jakarta"
                            type="text"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="email-input-wrapper">
                      <div class="email-input">
                        <div class="email8">Email *</div>
                        <div class="form22">
                          <div class="form23"></div>
                          <input
                            class="williammailcom1"
                            placeholder="william@mail.com"
                            type="text"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="address-input-wrapper">
                      <div class="address-input">
                        <div class="address">Address *</div>
                        <div class="address-field">
                          <div class="address-content">
                            <div class="form24"></div>
                            <div class="lorem-ipsum-dolor-sit-amet-co-wrapper">
                              <div class="lorem-ipsum-dolor5">
                                Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut
                                enim ad minim veniam, quis nostrud exercitation
                                ullamco laboris nisi ut aliquip ex ea commodo
                                consequat.
                              </div>
                            </div>
                            <img
                              class="address-icon"
                              loading="lazy"
                              alt=""
                              src="./public/vector-42.svg"
                            />
                          </div>
                          <div class="address-placeholder">
                            <div class="div18">0/2000</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="last-name-and-parent">
                  <div class="last-name-and-parent-fields">
                    <div class="last-name-and-parent-labels">
                      <div class="last-name">Last Name *</div>
                      <div class="form25">
                        <div class="form26"></div>
                        <input
                          class="william"
                          placeholder="William"
                          type="text"
                        />
                      </div>
                    </div>
                    <div class="last-name-and-parent-labels1">
                      <div class="parent-name1">Parent Name *</div>
                      <div class="form27">
                        <div class="form28"></div>
                        <input
                          class="mana-william1"
                          placeholder="Mana William"
                          type="text"
                        />
                      </div>
                    </div>
                    <div class="phone-input-wrapper">
                      <div class="phone-input">
                        <div class="phone7">Phone *</div>
                        <div class="form29">
                          <div class="form30"></div>
                          <input
                            class="phone-number-value"
                            placeholder="+1234567890"
                            type="text"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="parent-details">
            <div class="bg17"></div>
            <div class="title13">
              <div class="title-inner"></div>
              <b class="parent-details1">Parent Details</b>
            </div>
            <div class="parent-form">
              <div class="parent-info">
                <div class="parent-name2">
                  <div class="parent-name-fields">
                    <div class="first-name1">First Name *</div>
                    <div class="form31">
                      <div class="form32"></div>
                      <div class="mana">Mana</div>
                    </div>
                  </div>
                  <div class="parent-name-fields1">
                    <div class="last-name1">Last Name *</div>
                    <div class="form33">
                      <div class="form34"></div>
                      <input
                        class="william1"
                        placeholder="William"
                        type="text"
                      />
                    </div>
                  </div>
                </div>
                <div class="contact-info2">
                  <div class="contact-details3">
                    <div class="contact-fields">
                      <div class="email9">Email *</div>
                      <div class="form35">
                        <div class="form36"></div>
                        <input
                          class="manamailcom"
                          placeholder="Mana@mail.com"
                          type="text"
                        />
                      </div>
                    </div>
                    <div class="contact-fields1">
                      <div class="phone8">Phone *</div>
                      <div class="form37">
                        <div class="form38"></div>
                        <input
                          class="input2"
                          placeholder="+1234567890"
                          type="text"
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="payment-info">
                  <div class="payment-details">
                    <div class="payment-fields">
                      <div class="address1">Address *</div>
                      <div class="payments">Payments *</div>
                    </div>
                    <div class="payment-address">
                      <div class="address-content1">
                        <div class="form-group">
                          <div class="form39"></div>
                          <div class="address-value-container">
                            <div class="lorem-ipsum-dolor6">
                              Lorem ipsum dolor sit amet, consectetur adipiscing
                              elit, sed do eiusmod tempor incididunt ut labore
                              et dolore magna aliqua. Ut enim ad minim veniam,
                              quis nostrud exercitation ullamco laboris nisi ut
                              aliquip ex ea commodo consequat.
                            </div>
                          </div>
                          <img
                            class="address-icon-container"
                            loading="lazy"
                            alt=""
                            src="./public/vector-42.svg"
                          />
                        </div>
                        <div class="payment-options">
                          <div class="payment-selection">
                            <div class="bxbx-radio-circle-marked-parent">
                              <input
                                class="bxbx-radio-circle-marked"
                                type="radio"
                                name="radioGroup-1"
                              />

                              <div class="payment-type">
                                <div class="cash">Cash</div>
                              </div>
                            </div>
                            <div class="bxbx-radio-circle-parent">
                              <input
                                class="bxbx-radio-circle"
                                type="radio"
                                name="radioGroup-1"
                              />

                              <div class="debit-wrapper">
                                <div class="debit">Debit</div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="payment-description">
                        <div class="placeholder54">0/2000</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="actions1">
            <button class="draft-button1">
              <div class="save-as-draft1">Save as Draft</div>
            </button>
            <button class="submit-button1">
              <div class="submit2">Submit</div>
            </button>
          </div>
        </section>
      </main>
    </div>
  </body>
</html>
