<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="{{url_for("static", path="css/add_new_exam.css")}}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Volkhov:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Mountains of Christmas:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Cairo:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Helvetica:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=DM Sans:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="add-new-exam">
      <div class="side-menu4">
        <div class="background37"></div>
        <div class="side-menu-child">
          <div class="frame-parent16">
            <div class="group-div">
              <div class="frame-child1"></div>
              <a class="a3">A</a>
            </div>
            <a class="akademi3">AIS</a>
          </div>
        </div>
        <div class="list-wrapper">
          <div class="list5">
            <div class="dashboard27">
              <img
                class="home-icon4"
                loading="lazy"
                alt=""
                src="{{url_for("static", path="/public/home1.svg")}}"
              />

              <div class="dashboard-wrapper18">
                <div class="dashboard28">Dashboard</div>
              </div>
            </div>
            <div class="students7">
              <img
                class="student-icon4"
                loading="lazy"
                alt=""
                src="{{url_for("static", path="/public/student.svg")}}"
              />

              <div class="email-wrapper2">
                <div class="email5">Students</div>
              </div>
            </div>
            <div class="teachers5">
              <img
                class="teacher-icon4"
                loading="lazy"
                alt=""
                src="{{url_for("static", path="/public/teacher1.svg")}}"
              />

              <div class="contact-wrapper2">
                <div class="contact6">Teachers</div>
              </div>
            </div>
            <div class="event4">
              <img
                class="calendar-icon5"
                loading="lazy"
                alt=""
                src="{{url_for("static", path="/public/calender.svg")}}"
              />

              <div class="crypto-wrapper1">
                <div class="crypto3" href="{{url_for("exam_list")}}">Exams</div>
              </div>
            </div>
            <div class="finance4">
              <img
                class="finance-icon4"
                loading="lazy"
                alt=""
                src="{{url_for("static", path="/public/finance.svg")}}"
              />

              <div class="dashboard-wrapper19">
                <div class="dashboard29">Start Exams</div>
              </div>
            </div>
            <div class="food4">
              <img
                class="food-icon3"
                loading="lazy"
                alt=""
                src="{{url_for("static", path="/public/food.svg")}}"
              />

              <div class="dashboard-wrapper20">
                <div class="dashboard30">Create Room</div>
              </div>
            </div>
            <div class="user4">
              <img
                class="user-icon9"
                loading="lazy"
                alt=""
                src="{{url_for("static", path="/public/user.svg")}}"
              />

              <div class="dashboard-wrapper21">
                <div class="dashboard31">User</div>
              </div>
            </div>
            <div class="chat2">
              <img
                class="chat-icon2"
                loading="lazy"
                alt=""
                src="{{url_for("static", path="/public/chat.svg")}}"
              />

              <div class="dashboard-wrapper22">
                <div class="dashboard32">Report</div>
              </div>
            </div>
            <div class="activity4">
              <img
                class="activity-icon4"
                loading="lazy"
                alt=""
                src="{{url_for("static", path="/public/activity.svg")}}"
              />

              <div class="dashboard-wrapper23">
                <div class="dashboard33">Lastest Activity</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <main class="add-new-exam-inner">
        <section class="frame-section">
          <div class="frame-parent17">
            <div class="create-exam-parent">
              <h1 class="create-exam">Create Exam</h1>
              <div class="wrapper-notification-container">
                <div class="wrapper-notification3">
                  <img
                    class="notification-icon4"
                    loading="lazy"
                    alt=""
                    src="{{url_for("static", path="/public/notification.svg")}}"
                  />
                </div>
                <div class="setting-container">
                  <div class="setting3">
                    <div class="bg12"></div>
                    <img
                      class="gear-icon3"
                      loading="lazy"
                      alt=""
                      src="{{url_for("static", path="/public/gear.svg")}}"
                    />
                  </div>
                </div>
                <div class="frame-wrapper13">
                  <div class="nabila-a-group">
                    <div class="nabila-a3">Nabila A.</div>
                    <div class="admin-container">
                      <div class="admin3">Admin</div>
                    </div>
                  </div>
                </div>
                <div class="placeholder44"></div>
              </div>
            </div>
            <div class="student-details6">
              <div class="bg13"></div>
              <div class="title11">
                <div class="title-child"></div>
                <b class="exam-details1">Exam Details</b>
              </div>
              <div class="exam-details-input-fields-wrapper">
                <div class="exam-details-input-fields">
                  <div class="name-time-fields">
                    <div class="name-parent">
                      <div class="name1">Name *</div>
                      <div class="name-input">
                        <div class="form">
                          <div class="form1"></div>
                          <input
                            class="samantha"
                            placeholder="Samantha"
                            type="text"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="date-time-fields">
                      <div class="date6">Date</div>
                      <div class="form2">
                        <div class="form3"></div>
                        <input
                          class="februari-1997"
                          placeholder="24 Februari 1997"
                          type="text"
                        />
                      </div>
                    </div>
                    <div class="room-invigilator-fields">
                      <div class="room-invigilator">
                        <div class="room">Room</div>
                        <div class="form4">
                          <div class="form5"></div>
                          <input
                            class="williammailcom"
                            placeholder="william@mail.com"
                            type="text"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="name-time-fields1">
                    <div class="start-time-parent">
                      <div class="start-time">Start Time</div>
                      <div class="form6">
                        <div class="form7"></div>
                        <input class="input" placeholder="09:00" type="text" />
                      </div>
                    </div>
                    <div class="end-time-parent">
                      <div class="end-time">End Time</div>
                      <div class="form8">
                        <div class="form9"></div>
                        <input class="input1" placeholder="10:00" type="text" />
                      </div>
                    </div>
                    <div class="name-time-fields-inner">
                      <div class="invigilator-parent">
                        <div class="invigilator">Invigilator</div>
                        <div class="form10">
                          <div class="form11"></div>
                          <input
                            class="samantha1"
                            placeholder="Samantha"
                            type="text"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="student-details-inner4">
                <div class="course-parent">
                  <div class="course">Course*</div>
                  <div class="form12">
                    <div class="form13"></div>
                    <input class="ece-599" placeholder="ECE 599" type="text" />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="draft-button-parent">
            <button class="draft-button">
              <div class="save-as-draft">Save as Draft</div>
            </button>
            <button class="submit-button">
              <div class="submit1">Submit</div>
            </button>
          </div>
        </section>
      </main>
    </div>
  </body>
</html>
