<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="{{url_for("static", path="/css/add_new_course.css")}}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Volkhov:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Mountains of Christmas:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Cairo:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Helvetica:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=DM Sans:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="add-new-course">
      <div class="side-menu7">
        <div class="background43"></div>
        <div class="frame-parent23">
          <div class="rectangle-parent2">
            <div class="frame-child5"></div>
            <a class="a6">A</a>
          </div>
          <a class="akademi6">AIS</a>
        </div>
        <div class="list8">
          <div class="dashboard47">
            <img
              class="home-icon7"
              loading="lazy"
              alt=""
              src="{{url_for("static", path="/public/home1.svg")}}"
            />

            <div class="dashboard-wrapper35">
              <div class="dashboard48">Dashboard</div>
            </div>
          </div>
          <div class="students10">
            <img
              class="student-icon7"
              loading="lazy"
              alt=""
              src="{{url_for("static", path="/public/student.svg")}}"
            />

            <div class="email-wrapper5">
              <div class="email10">Students</div>
            </div>
          </div>
          <div class="teachers8">
            <img
              class="teacher-icon7"
              loading="lazy"
              alt=""
              src="{{url_for("static", path="/public/teacher.svg")}}"
            />

            <div class="contact-wrapper5">
              <div class="contact9">Teachers</div>
            </div>
          </div>
          <div class="event7">
            <img
              class="calendar-icon8"
              loading="lazy"
              alt=""
              src="{{url_for("static", path="/public/calendar.svg")}}"
            />

            <div class="crypto-wrapper4">
              <div class="crypto6">Event</div>
            </div>
          </div>
          <div class="finance7">
            <img
              class="finance-icon7"
              loading="lazy"
              alt=""
              src="{{url_for("static", path="/public/finance.svg")}}"
            />

            <div class="dashboard-wrapper36">
              <div class="dashboard49">Finance</div>
            </div>
          </div>
          <div class="food8">
            <img
              class="food-icon6"
              loading="lazy"
              alt=""
              src="{{url_for("static", path="/public/food.svg")}}"
            />

            <div class="dashboard-wrapper37">
              <div class="dashboard50">Food</div>
            </div>
          </div>
          <div class="user8">
            <img
              class="user-icon12"
              loading="lazy"
              alt=""
              src="{{url_for("static", path="/public/user.svg")}}"
            />

            <div class="dashboard-wrapper38">
              <div class="dashboard51">User</div>
            </div>
          </div>
          <div class="activity7">
            <img
              class="activity-icon7"
              loading="lazy"
              alt=""
              src="{{url_for("static", path="/public/activity.svg")}}"
            />

            <div class="dashboard-wrapper39">
              <div class="dashboard52">Lastest Activity</div>
            </div>
          </div>
        </div>
      </div>
      <main class="content7">
        <section class="course-creation">
          <h1 class="create-course">Create Course</h1>
          <div class="course-details">
            <div class="student-details9">
              <div class="bg18"></div>
              <div class="title14">
                <div class="title-child1"></div>
              </div>
              <div class="student-form1">
                <div class="form-fields">
                  <div class="name-group">
                    <div class="name2">Name *</div>
                    <div class="name-field">
                      <div class="form40">
                        <div class="form41"></div>
                        <input
                          class="samantha3"
                          placeholder="Samantha"
                          type="text"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="department-field">
                    <div class="department">Department</div>
                    <div class="form42">
                      <div class="form43"></div>
                      <input
                        class="februari-19972"
                        placeholder="24 Februari 1997"
                        type="text"
                      />
                    </div>
                  </div>
                  <div class="form-fields-inner">
                    <div class="faculty-parent">
                      <div class="faculty">Faculty</div>
                      <div class="form44">
                        <div class="form45"></div>
                        <input
                          class="williammailcom2"
                          placeholder="william@mail.com"
                          type="text"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="form-fields-child">
                    <div class="course-code-parent">
                      <div class="course-code">Course Code</div>
                      <div class="form46">
                        <div class="form47"></div>
                        <input class="input3" placeholder="09:00" type="text" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="submit-button-wrapper">
            <button class="submit-button2">
              <div class="submit3">Submit</div>
            </button>
          </div>
        </section>
      </main>
    </div>
  </body>
</html>
