<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="{{url_for("static", path="/css/global.css")}}" />
    <link rel="stylesheet" href="{{url_for("static", path="/css/change_password.css")}}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Volkhov:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Mountains of Christmas:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap"
    />
  </head>
  <body>
    <div class="signup3">
      <div class="container">
        <div class="content1">
          <div class="a-i-s-container">
            <div class="ais3">AIS</div>
          </div>
          <h2 class="automatic-invigilating-system3">
            automatic invigilating system
          </h2>
        </div>
      </div>
      <div class="password-container">
        <div class="password-title">
          <h2 class="enter-your-new">Enter Your New Password</h2>
        </div>
        <form class="password-inputs">
          <div class="password-labels">
            <input
              class="new-password"
              placeholder="New Password"
              type="text"
            />

            <div class="password-labels-child"></div>
          </div>
          <div class="password-labels1">
            <input
              class="confirmation-password"
              placeholder="Confirmation Password"
              type="text"
            />

            <div class="password-labels-item"></div>
          </div>
          <div class="submit-button-container">
            <button class="rectangle-group">
              <div class="frame-inner"></div>
              <div class="submit">Submit</div>
            </button>
          </div>
        </form>
      </div>
      <div class="terms-container">
        <div class="fasco-terms2">FASCO Terms & Codnitions</div>
      </div>
    </div>
  </body>
</html>
