<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="{{url_for("static", path="/css/exam_details.css")}}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Volkhov:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Mountains of Christmas:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Cairo:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Helvetica:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap"
    />
  </head>
  <body>
    <div class="exam-details">
      <div class="side-menu1">
        <div class="background18"></div>
        <div class="dashboard8">
          <img
            class="home-icon1"
            loading="lazy"
            alt=""
            src="{{url_for("static", path="/public/home1.svg")}}"
          />

          <div class="email-dashboard">
            <a class="dashboard9">Dashboard</a>
          </div>
        </div>
        <div class="students2">
          <img
            class="student-icon1"
            loading="lazy"
            alt=""
            src="{{url_for("static", path="/public/student.svg")}}"
          />

          <div class="email-container">
            <a class="email2">Students</a>
          </div>
        </div>
        <div class="teacher-navigation">
          <div class="teachers2">
            <img
              class="teacher-icon1"
              loading="lazy"
              alt=""
              src="{{url_for("static", path="/public/teacher.svg")}}"
            />

            <div class="contact-container">
              <a class="contact1">Teachers</a>
            </div>
          </div>
          <div class="event1">
            <img
              class="calendar-icon2"
              loading="lazy"
              alt=""
              src="{{url_for("static", path="/public/calender.svg")}}"
            />

            <div class="crypto-wrapper">
              <div class="crypto">Event</div>
            </div>
          </div>
          <div class="finance1">
            <img
              class="finance-icon1"
              loading="lazy"
              alt=""
              src="{{url_for("static", path="/public/finance.svg")}}"
            />

            <div class="dashboard-wrapper3">
              <div class="dashboard10">Finance</div>
            </div>
          </div>
          <div class="food1">
            <img
              class="activity-icon1"
              loading="lazy"
              alt=""
              src="{{url_for("static", path="/public/activity.svg")}}"
            />

            <div class="dashboard-wrapper4">
              <a class="dashboard11">Exams</a>
            </div>
          </div>
          <div class="user1">
            <img
              class="user-icon6"
              loading="lazy"
              alt=""
              src="{{url_for("static", path="/public/user.svg")}}"
            />

            <div class="dashboard-wrapper5">
              <div class="dashboard12">User</div>
            </div>
          </div>
        </div>
        <div class="activity1"></div>
        <div class="side-menu-inner">
          <div class="akademi-school-admission-das-group">
            <b class="akademi-school1">Akademi - School Admission Dashboard</b>
            <div class="made-with1">Made with ♥ by Peterdraw</div>
          </div>
        </div>
      </div>
      <header class="exam-details-inner">
        <section class="watch-exam-parent">
          <h1 class="watch-exam">Watch Exam</h1>
          <div class="food-details">
            <div class="background19"></div>
            <button class="btnviewmore1">
              <div class="background20"></div>
              <div class="view-more1">View More</div>
            </button>
          </div>
        </section>
      </header>
    </div>
  </body>
</html>
