<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="{{url_for("static", path="/css/home.css")}}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Volkhov:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Mountains of Christmas:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Cairo:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Helvetica:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap"
    />
  </head>
  <body>
    <div class="body-bg">
      <main class="div-bg-gradient">
        <section class="header-container">
          <header class="header-z-20">
            <div class="navigation-links">
              <div class="header-icon">
                <img class="icon10" alt="" src="{{url_for("static", path="/public/icon1.svg")}}" />
              </div>
              <div class="link-inline-block">
                <a class="features">Features</a>
              </div>
              <div class="link-inline-block1">
                <a class="pricing">Pricing</a>
              </div>
              <div class="link-inline-block2">
                <a class="docs">Docs</a>
              </div>
              <div class="link-inline-block3">
                <a class="blog">Blog</a>
              </div>
            </div>
            <div class="auth-buttons">
              <button class="link-btn-1">
                <a class="login1">Login</a>
              </button>
              <button class="link-btn-2">
                <a class="sign-up">Sign Up</a>
              </button>
            </div>
          </header>
          <div class="content4">
            < class="div-relative-parent">
              <img
                class="div-relative-icon"
                alt=""
                src="./public/div-relative@2x.png"
              />

              <div class="hero-content">
                <div class="beta-announcement">
                  <div class="button-beta-btn">
                    <div class="beta-icon-container">
                      <div class="left-beta-icon">
                        <img class="icon11" alt="" src="./public/icon-11.svg" />

                        <div class="icon12">
                          <div class="vector-parent">
                            <img
                              class="vector-icon"
                              alt=""
                              src="./public/vector.svg"
                            />

                            <img
                              class="vector-icon1"
                              alt=""
                              src="./public/vector-1.svg"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="is-currently-in-beta-wrapper">
                      <div class="is-currently-in">is currently in beta</div>
                    </div>
                    <img class="icon13" alt="" src="./public/icon-2.svg" />
                  </div>
                </div>
                <div class="hero-title">
                  <h1 class="ai-for-exam">AI for Exam Proctoring</h1>
                  <div class="subtitle">
                    <h1 class="whats-next">what's next.</h1>
                  </div>
                </div>
              </div>
              <div class="call-to-action">
                <div class="button-container1">
                  <div class="action-button">
                    <div class="scout-gives-you">
                      Scout gives you the tools to build custom agents and
                    </div>
                    <div class="workflows-in-record-time-wrapper">
                      <div class="workflows-in-record">
                        workflows in record time.
                      </div>
                    </div>
                  </div>
                  <div class="link-btn-2-wrapper">
                    <button class="link-btn-21">
                      <div class="get-started">Get Started</div>
                      <div class="button-icon">
                        <img class="icon14" alt="" src="./public/icon-3.svg" />
                      </div>
                    </button>
                  </div>
          </div>
      </main>
    </div>
  </body>
</html>
