<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="{{ url_for("static", path="/css/global.css")}}" />
    <link rel="stylesheet" href="{{ url_for("static", path="/css/login.css")}}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Volkhov:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Mountains of Christmas:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap"
    />
  </head>
  <body>
    <div class="signup1">
      <div class="main">
        <div class="content">
          <div class="a-i-s-intro">
            <div class="ais1">AIS</div>
          </div>
          <h2 class="automatic-invigilating-system1">
            automatic invigilating system
          </h2>
        </div>
      </div>
      <div class="sign-in-header-parent">
        <div class="sign-in-header">
          <h2 class="sign-in-to">Sign In To AIS</h2>
        </div>
        <div class="sign-in-form">
          <div class="email-field">
            <input class="email" placeholder="Email" type="text" />

            <div class="email-field-child"></div>
          </div>
          <div class="password-field">
            <input class="password" placeholder="Password" type="text"/>
            <img class="password-field-child" loading="lazy" alt="" />
          </div>
          <div class="action-buttons">
            <div class="sign-in-register">
              <div class="sign-in-register-options">
                <button class="sign-in-register-buttons">
                  <div class="sign-in-register-buttons-child"></div>
                  <div class="sign-in">Sign In</div>
                </button>
                <button class="sign-in-register-buttons1">
                  <div class="sign-in-register-buttons-item"></div>
                  <div class="register-now">Register Now</div>
                </button>
              </div>
              <div class="forgot-password-link-wrapper">
                <div class="forgot-password-link">
                  <b class="forget-password1">Forget Password?</b>
                  <div class="terms-conditions">
                    <div class="ais-terms">AIS Terms & Codnitions</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script defer src="{{url_for("static", path="/js/bootstrap.min.js")}}"></script>
  </body>
</html>
