<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href=".{{url_for("static", path="css/teacher_details.css")}}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Volkhov:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Mountains of Christmas:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Cairo:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Helvetica:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=DM Sans:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="teacher-details">
      <div class="background44"></div>
      <div class="side-menu8">
        <div class="background45"></div>
        <div class="logo-container2">
          <div class="logo3">
            <div class="logo-child1"></div>
            <a class="a7">A</a>
          </div>
          <a class="akademi7">Akademi</a>
        </div>
        <div class="list9">
          <div class="dashboard53">
            <img
              class="home-icon8"
              loading="lazy"
              alt=""
              src="./public/home1.svg"
            />

            <div class="dashboard-wrapper40">
              <div class="dashboard54">Dashboard</div>
            </div>
          </div>
          <div class="students11">
            <img
              class="student-icon8"
              loading="lazy"
              alt=""
              src="./public/student.svg"
            />

            <div class="email-wrapper6">
              <a class="email11">Students</a>
            </div>
          </div>
          <div class="teachers9">
            <img
              class="teacher-icon8"
              loading="lazy"
              alt=""
              src="./public/teacher.svg"
            />

            <div class="contact-wrapper6">
              <div class="contact10">Teachers</div>
            </div>
          </div>
          <div class="event8">
            <img
              class="calendar-icon9"
              loading="lazy"
              alt=""
              src="./public/calendar.svg"
            />

            <div class="crypto-wrapper5">
              <div class="crypto7">Event</div>
            </div>
          </div>
          <div class="finance8">
            <img
              class="finance-icon8"
              loading="lazy"
              alt=""
              src="./public/finance.svg"
            />

            <div class="dashboard-wrapper41">
              <div class="dashboard55">Finance</div>
            </div>
          </div>
          <div class="food9">
            <img
              class="food-icon7"
              loading="lazy"
              alt=""
              src="./public/food1.svg"
            />

            <div class="dashboard-wrapper42">
              <div class="dashboard56">Food</div>
            </div>
          </div>
          <div class="user9">
            <img
              class="user-icon13"
              loading="lazy"
              alt=""
              src="./public/user.svg"
            />

            <div class="dashboard-wrapper43">
              <div class="dashboard57">User</div>
            </div>
          </div>
          <div class="activity8">
            <img
              class="activity-icon8"
              loading="lazy"
              alt=""
              src="./public/activity.svg"
            />

            <div class="dashboard-wrapper44">
              <div class="dashboard58">Lastest Activity</div>
            </div>
          </div>
        </div>
      </div>
      <main class="content8">
        <section class="header3">
          <header class="page-title">
            <h1 class="teacher-details1">Teacher Details</h1>
            <div class="toolbar">
              <div class="search-bar8">
                <div class="search-input-wrapper1">
                  <img class="search-icon4" alt="" src="./public/search.svg" />

                  <div class="search-placeholder-wrapper">
                    <a class="search-here4">Search here...</a>
                  </div>
                </div>
              </div>
              <div class="wrapper-notification-parent1">
                <div class="wrapper-notification6">
                  <img
                    class="notification-icon7"
                    loading="lazy"
                    alt=""
                    src="./public/notification.svg"
                  />
                </div>
                <div class="setting-frame">
                  <div class="setting6">
                    <div class="bg19"></div>
                    <img
                      class="gear-icon6"
                      loading="lazy"
                      alt=""
                      src="./public/gear.svg"
                    />
                  </div>
                </div>
                <div class="user-profile">
                  <div class="user-name-container">
                    <div class="nabila-a6">Nabila A.</div>
                    <div class="user-role-container">
                      <a class="admin6">Admin</a>
                    </div>
                  </div>
                </div>
                <div class="placeholder55"></div>
              </div>
            </div>
          </header>
          <div class="teacher-info">
            <div class="teacher-details2">
              <div class="background46"></div>
              <div class="dots-parent">
                <img
                  class="dots-icon18"
                  loading="lazy"
                  alt=""
                  src="./public/dots.svg"
                />

                <div class="wrapper-cover1">
                  <img
                    class="cover-icon1"
                    loading="lazy"
                    alt=""
                    src="./public/cover1@2x.png"
                  />
                </div>
                <div class="avatar1">
                  <div class="placeholder56"></div>
                </div>
              </div>
              <div class="teacher-data">
                <div class="teacher-titles-parent">
                  <div class="teacher-titles">
                    <div class="teacher-title-row">
                      <h2 class="title15">Maria Historia</h2>
                      <div class="title16">History Teacher</div>
                    </div>
                    <div class="contact-info3">
                      <div class="contact-icons">
                        <div class="icon17">
                          <div class="bg20"></div>
                          <img
                            class="location-icon2"
                            loading="lazy"
                            alt=""
                            src="./public/location1.svg"
                          />
                        </div>
                        <div class="contact-titles">
                          <div class="title17">Jakarta, Indonesia</div>
                        </div>
                      </div>
                      <div class="contact-icons1">
                        <div class="phone9">
                          <div class="placeholder57"></div>
                          <img
                            class="call-icon7"
                            loading="lazy"
                            alt=""
                            src="./public/call.svg"
                          />
                        </div>
                        <div class="wrapper5">
                          <div class="div19">+12 345 6789 0</div>
                        </div>
                      </div>
                      <div class="contact-icons2">
                        <div class="mail7">
                          <div class="placeholder58"></div>
                          <img
                            class="email-icon17"
                            loading="lazy"
                            alt=""
                            src="./public/email1.svg"
                          />
                        </div>
                        <div class="historiamailcom-wrapper">
                          <div class="historiamailcom">Historia@mail.com</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="about-parent">
                    <b class="about">About:</b>
                    <div class="lorem-ipsum-dolor7">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                      sed do eiusmod tempor incididunt ut labore et dolore magna
                      aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                      ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </div>
                  </div>
                  <div class="education-details-parent">
                    <div class="education-details">
                      <b class="education">Education:</b>
                      <div class="education-entries">
                        <div class="history-major-university-container">
                          <ul class="history-major-university-akad">
                            <li>History Major, University Akademi Historia</li>
                          </ul>
                        </div>
                        <div class="separator">
                          <div class="degree">2013-2017</div>
                        </div>
                      </div>
                    </div>
                    <div class="master-degree-entry">
                      <div class="master-of-history-container">
                        <ul class="master-of-history-university">
                          <li>
                            Master of History, University Akademi Historia
                          </li>
                        </ul>
                      </div>
                      <div class="master-separator">
                        <div class="master-degree-year">2017-2020</div>
                      </div>
                    </div>
                    <div class="expertise-parent">
                      <b class="expertise">Expertise:</b>
                      <div class="world-history-philosophy">
                        World History, Philosophy, Prehistoric, Culture, Ancient
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="schedule-list-parent">
              <div class="schedule-list">
                <div class="schedule">
                  <div class="background47"></div>
                  <b class="schedule-details">Schedule Details</b>
                  <div class="thursday-10th-april">
                    Thursday, 10th April , 2021
                  </div>
                </div>
                <div class="schedule-1">
                  <div class="background48"></div>
                  <div class="statuscolor"></div>
                  <div class="class-info">
                    <div class="class-details">
                      <div class="subject-and-class">
                        <div class="world-history">World History</div>
                        <div class="class-vii-b3">Class VII-B</div>
                      </div>
                      <div class="schedule-time">
                        <div class="date-time-info">
                          <img
                            class="calendar-icon10"
                            alt=""
                            src="./public/calendar-11.svg"
                          />

                          <div class="schedule-dates">
                            <div class="march-20-2021">March 20, 2021</div>
                          </div>
                        </div>
                        <div class="time-info">
                          <img
                            class="clock-icon"
                            alt=""
                            src="./public/clock.svg"
                          />

                          <div class="schedule-times">
                            <div class="am">09.00 - 10.00 AM</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="schedule-2">
                  <div class="background49"></div>
                  <div class="statuscolor1"></div>
                  <div class="schedule-2-inner">
                    <div class="frame-parent24">
                      <div class="ancient-history-parent">
                        <div class="ancient-history">Ancient History</div>
                        <div class="class-vii-a6">Class VII-A</div>
                      </div>
                      <div class="frame-parent25">
                        <div class="calendar-parent">
                          <img
                            class="calendar-icon11"
                            alt=""
                            src="./public/calendar-11.svg"
                          />

                          <div class="march-20-2021-wrapper">
                            <div class="march-20-20211">March 20, 2021</div>
                          </div>
                        </div>
                        <div class="clock-parent">
                          <img
                            class="clock-icon1"
                            alt=""
                            src="./public/clock.svg"
                          />

                          <div class="am-wrapper">
                            <div class="am1">09.00 - 10.00 AM</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="schedule-3">
                  <div class="background50"></div>
                  <div class="statuscolor2"></div>
                  <div class="schedule-3-inner">
                    <div class="frame-parent26">
                      <div class="culture-parent">
                        <div class="culture">Culture</div>
                        <div class="class-viii-a">Class VIII-A</div>
                      </div>
                      <div class="frame-parent27">
                        <div class="calendar-group">
                          <img
                            class="calendar-icon12"
                            alt=""
                            src="./public/calendar-11.svg"
                          />

                          <div class="march-20-2021-container">
                            <div class="march-20-20212">March 20, 2021</div>
                          </div>
                        </div>
                        <div class="clock-group">
                          <img
                            class="clock-icon2"
                            alt=""
                            src="./public/clock.svg"
                          />

                          <div class="am-container">
                            <div class="am2">09.00 - 10.00 AM</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="schedule-4">
                  <div class="background51"></div>
                  <div class="statuscolor3"></div>
                  <div class="schedule-4-inner">
                    <div class="frame-parent28">
                      <div class="world-history-parent">
                        <div class="world-history1">World History</div>
                        <div class="class-vii-c1">Class VII-C</div>
                      </div>
                      <div class="frame-parent29">
                        <div class="calendar-container">
                          <img
                            class="calendar-icon13"
                            alt=""
                            src="./public/calendar-11.svg"
                          />

                          <div class="march-20-2021-frame">
                            <div class="march-20-20213">March 20, 2021</div>
                          </div>
                        </div>
                        <div class="clock-container">
                          <img
                            class="clock-icon3"
                            alt=""
                            src="./public/clock.svg"
                          />

                          <div class="am-frame">
                            <div class="am3">09.00 - 10.00 AM</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <button class="btnviewmore4">
                <div class="background52"></div>
                <div class="view-more4">View More</div>
              </button>
            </div>
          </div>
        </section>
      </main>
    </div>
  </body>
</html>
