<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="{{url_for("static", path="/css/user_dashboard.css")}}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Volkhov:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Mountains of Christmas:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Cairo:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Helvetica:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=DM Sans:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="user-dashboard">
      <div class="side-menu2">
        <div class="background21"></div>
        <div class="sidebar-top">
          <div class="logo-container">
            <div class="logo1">
              <div class="logo-item"></div>
              <a class="a1">A</a>
            </div>
            <a class="akademi1">AIS</a>
          </div>
        </div>
        <div class="sidebar-menu">
          <div class="list2">
            <div class="dashboard13">
              <img
                class="home-icon2"
                loading="lazy"
                alt=""
                src="./public/home1.svg"
              />

              <div class="dashboard-wrapper6">
                <a class="dashboard14">Dashboard</a>
              </div>
            </div>
            <div class="students3">
              <img
                class="student-icon2"
                loading="lazy"
                alt=""
                src="./public/student.svg"
              />

              <div class="email-frame">
                <a class="email3">Students</a>
              </div>
            </div>
            <div class="teachers3">
              <img
                class="teacher-icon2"
                loading="lazy"
                alt=""
                src="./public/teacher.svg"
              />

              <div class="contact-frame">
                <a class="contact2">Teachers</a>
              </div>
            </div>
            <div class="event2">
              <img
                class="calendar-icon3"
                loading="lazy"
                alt=""
                src="./public/calendar.svg"
              />

              <div class="crypto-container">
                <div class="crypto1">Event</div>
              </div>
            </div>
            <div class="finance2">
              <img
                class="finance-icon2"
                loading="lazy"
                alt=""
                src="./public/finance.svg"
              />

              <div class="dashboard-wrapper7">
                <a class="dashboard15">Finance</a>
              </div>
            </div>
            <div class="food2">
              <img
                class="food-icon1"
                loading="lazy"
                alt=""
                src="./public/food.svg"
              />

              <div class="dashboard-wrapper8">
                <div class="dashboard16">Food</div>
              </div>
            </div>
            <div class="user2">
              <img
                class="user-icon7"
                loading="lazy"
                alt=""
                src="./public/user1.svg"
              />

              <div class="dashboard-wrapper9">
                <div class="dashboard17">User</div>
              </div>
            </div>
            <div class="chat">
              <img
                class="chat-icon"
                loading="lazy"
                alt=""
                src="./public/chat.svg"
              />

              <div class="dashboard-wrapper10">
                <div class="dashboard18">Chat</div>
              </div>
            </div>
            <div class="activity2">
              <img
                class="activity-icon2"
                loading="lazy"
                alt=""
                src="./public/activity.svg"
              />

              <div class="dashboard-wrapper11">
                <div class="dashboard19">Lastest Activity</div>
              </div>
            </div>
          </div>
        </div>
        <div class="sidebar-footer">
          <b class="akademi-school2">Akademi - School Admission Dashboard</b>
          <div class="made-with2">Made with ♥ by Peterdraw</div>
        </div>
      </div>
      <div class="content-area">
        <div class="page-header">
          <div class="header-content">
            <h1 class="user-dashboard1">User Dashboard</h1>
            <div class="search-bar1">
              <div class="search-input">
                <img class="search-icon1" alt="" src="./public/search.svg" />

                <div class="search-placeholder1">
                  <a class="search-here1">Search here...</a>
                </div>
              </div>
            </div>
          </div>
          <div class="profile">
            <div class="background22"></div>
            <div class="profile-info">
              <img
                class="dots-icon5"
                loading="lazy"
                alt=""
                src="./public/dots.svg"
              />

              <div class="wrapper-cover">
                <img
                  class="cover-icon"
                  loading="lazy"
                  alt=""
                  src="./public/cover@2x.png"
                />
              </div>
              <div class="avatar">
                <div class="placeholder11"></div>
              </div>
            </div>
            <div class="user-details">
              <div class="contact-info">
                <div class="location-info">
                  <h2 class="title">Nabila Azalea</h2>
                  <div class="location-details">
                    <div class="title1">Admin</div>
                    <div class="location-value">
                      <div class="location-icon">
                        <img
                          class="location-icon1"
                          loading="lazy"
                          alt=""
                          src="./public/location.svg"
                        />
                      </div>
                      <div class="title2">Jakarta, Indonesia</div>
                    </div>
                  </div>
                </div>
                <div class="contact-details">
                  <div class="contact-labels">
                    <div class="title3">Phone</div>
                    <div class="contact-values">
                      <div class="phone">
                        <div class="placeholder12"></div>
                        <img
                          class="call-icon"
                          loading="lazy"
                          alt=""
                          src="./public/call.svg"
                        />
                      </div>
                      <div class="contact-data">
                        <div class="contact-address">+12 345 6789 0</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="contact-details1">
                  <div class="title-parent">
                    <div class="title4">Email</div>
                    <div class="mail-parent">
                      <div class="mail">
                        <div class="placeholder13"></div>
                        <img
                          class="email-icon5"
                          loading="lazy"
                          alt=""
                          src="./public/email1.svg"
                        />
                      </div>
                      <div class="jordanmailcom-wrapper">
                        <div class="jordanmailcom">jordan@mail.com</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="contact-list">
            <div class="contact3">
              <div class="background23"></div>
              <div class="contact-list-header">
                <div class="contact-list-title">
                  <b class="contacts">Contacts</b>
                  <div class="you-have-741-container">
                    <span>You have </span>
                    <span class="span3">741</span>
                    <span> contacts</span>
                  </div>
                </div>
                <div class="btncta1">
                  <div class="background24"></div>
                  <img
                    class="add-contact-icon"
                    loading="lazy"
                    alt=""
                    src="./public/add-contact-icon.svg"
                  />
                </div>
              </div>
              <div class="search-bar2">
                <div class="search-field">
                  <img
                    class="magnifier-icon"
                    alt=""
                    src="./public/magnifier.svg"
                  />

                  <input
                    class="search-input-placeholder"
                    placeholder="Search here..."
                    type="text"
                  />
                </div>
              </div>
              <div class="list3">
                <div class="contact-entries">
                  <div class="profilepicture10">
                    <div class="placeholder14"></div>
                  </div>
                  <div class="contact-action-labels-parent">
                    <div class="contact-action-labels">
                      <div class="contact-action-names">
                        <div class="samantha-william2">Samantha William</div>
                        <div class="class-vii-a3">Class VII-A</div>
                      </div>
                    </div>
                    <div class="mail-button5">
                      <div class="background25"></div>
                      <img
                        class="email-icon6"
                        loading="lazy"
                        alt=""
                        src="./public/email-11.svg"
                      />
                    </div>
                  </div>
                </div>
                <div class="contact-entries1">
                  <div class="profilepicture11">
                    <div class="placeholder15"></div>
                  </div>
                  <div class="frame-parent4">
                    <div class="frame-wrapper6">
                      <div class="tony-soap-group">
                        <div class="tony-soap2">Tony Soap</div>
                        <div class="class-vii-a4">Class VII-A</div>
                      </div>
                    </div>
                    <div class="mail-button6">
                      <div class="background26"></div>
                      <img
                        class="email-icon7"
                        loading="lazy"
                        alt=""
                        src="./public/email-2.svg"
                      />
                    </div>
                  </div>
                </div>
                <div class="contact-entries2">
                  <div class="profilepicture12">
                    <div class="placeholder16"></div>
                  </div>
                  <div class="frame-parent5">
                    <div class="frame-wrapper7">
                      <div class="karen-hope-group">
                        <div class="karen-hope2">Karen Hope</div>
                        <div class="class-vii-a5">Class VII-A</div>
                      </div>
                    </div>
                    <div class="mail-button7">
                      <div class="background27"></div>
                      <img
                        class="email-icon8"
                        loading="lazy"
                        alt=""
                        src="./public/email-11.svg"
                      />
                    </div>
                  </div>
                </div>
                <div class="contact-entries3">
                  <div class="profilepicture13">
                    <div class="placeholder17"></div>
                  </div>
                  <div class="frame-parent6">
                    <div class="frame-wrapper8">
                      <div class="jordan-nico-group">
                        <div class="jordan-nico2">Jordan Nico</div>
                        <div class="class-vii-b2">Class VII-B</div>
                      </div>
                    </div>
                    <div class="mail-button8">
                      <div class="background28"></div>
                      <img
                        class="email-icon9"
                        loading="lazy"
                        alt=""
                        src="./public/email-11.svg"
                      />
                    </div>
                  </div>
                </div>
                <div class="contact-entries4">
                  <div class="profilepicture-parent6">
                    <div class="profilepicture14">
                      <div class="placeholder18"></div>
                    </div>
                    <div class="contact-name">
                      <div class="contact-full-name">
                        <div class="nadila-adja2">Nadila Adja</div>
                        <div class="class-vii-c">Class VII-C</div>
                      </div>
                    </div>
                  </div>
                  <div class="mail-button9">
                    <div class="background29"></div>
                    <img
                      class="email-icon10"
                      loading="lazy"
                      alt=""
                      src="./public/email-11.svg"
                    />
                  </div>
                </div>
              </div>
              <button class="btnviewmore2">
                <div class="background30"></div>
                <div class="view-more2">View More</div>
              </button>
            </div>
            <div class="message">
              <div class="bg8"></div>
              <b class="messages">Messages</b>
              <div class="search-bar3">
                <div class="message-search-field">
                  <img
                    class="magnifier-icon1"
                    alt=""
                    src="./public/magnifier.svg"
                  />

                  <input
                    class="message-search-placeholder"
                    placeholder="Search here..."
                    type="text"
                  />
                </div>
              </div>
              <div class="message-previews">
                <div class="message-input">
                  <div class="input-wrapper">
                    <div class="placeholder19"></div>
                    <div class="sender-info">
                      <div class="sender-details">
                        <div class="samantha-william3">Samantha William</div>
                        <div class="lorem-ipsum-dolor">
                          Lorem ipsum dolor sit amet...
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="timestamp-wrapper">
                    <div class="timestamp-details">
                      <div class="pm">12:45 PM</div>
                      <div class="notification-icon1">
                        <div class="notif">
                          <div class="notif-child"></div>
                          <img
                            class="alert-symbol-icon"
                            loading="lazy"
                            alt=""
                            src="./public/2.svg"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="preview-dividers-parent">
                  <div class="preview-dividers"></div>
                  <div class="message-content">
                    <div class="message-snippet">
                      <div class="placeholder20"></div>
                      <div class="message-sender">
                        <div class="message-sender-details">
                          <div class="tony-soap3">Tony Soap</div>
                          <div class="lorem-ipsum-dolor1">
                            Lorem ipsum dolor sit amet...
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="message-time">
                      <div class="time-indicators">
                        <div class="pm1">12:45 PM</div>
                        <div class="notification-count">
                          <div class="notif1">
                            <div class="notif-item"></div>
                            <img
                              class="badge-dots-icon"
                              loading="lazy"
                              alt=""
                              src="./public/2.svg"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="line-parent">
                  <div class="line"></div>
                  <div class="frame-parent7">
                    <div class="placeholder-parent">
                      <div class="placeholder21"></div>
                      <div class="frame-wrapper9">
                        <div class="karen-hope-container">
                          <div class="karen-hope3">Karen Hope</div>
                          <div class="lorem-ipsum-dolor2">
                            Lorem ipsum dolor sit amet...
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="pm-wrapper">
                      <div class="pm2">12:45 PM</div>
                    </div>
                  </div>
                </div>
                <div class="line-group">
                  <div class="line1"></div>
                  <div class="frame-parent8">
                    <div class="placeholder-group">
                      <div class="placeholder22"></div>
                      <div class="frame-wrapper10">
                        <div class="jordan-nico-container">
                          <div class="jordan-nico3">Jordan Nico</div>
                          <div class="lorem-ipsum-dolor3">
                            Lorem ipsum dolor sit amet...
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="frame-wrapper11">
                      <div class="pm-parent">
                        <div class="pm3">12:45 PM</div>
                        <div class="notif-wrapper">
                          <div class="notif2">
                            <div class="notif-inner"></div>
                            <img
                              class="icon8"
                              loading="lazy"
                              alt=""
                              src="./public/2.svg"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="line-container">
                  <div class="line2"></div>
                  <div class="frame-parent9">
                    <div class="placeholder-container">
                      <div class="placeholder23"></div>
                      <div class="frame-wrapper12">
                        <div class="nadila-adja-group">
                          <div class="nadila-adja3">Nadila Adja</div>
                          <div class="lorem-ipsum-dolor4">
                            Lorem ipsum dolor sit amet...
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="pm-container">
                      <div class="pm4">12:45 PM</div>
                    </div>
                  </div>
                </div>
              </div>
              <button class="btnviewmore3">
                <div class="background31"></div>
                <div class="view-more3">View More</div>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="right-menu1">
        <div class="bg9"></div>
        <div class="sidebar-content">
          <div class="wrapper-notification-group">
            <div class="wrapper-notification1">
              <img
                class="notification-icon2"
                loading="lazy"
                alt=""
                src="./public/notification.svg"
              />
            </div>
            <div class="settings">
              <div class="setting1">
                <div class="bg10"></div>
                <img
                  class="gear-icon1"
                  loading="lazy"
                  alt=""
                  src="./public/gear.svg"
                />
              </div>
            </div>
            <div class="user-info">
              <div class="user-details1">
                <div class="nabila-a1">Nabila A.</div>
                <div class="account-role">
                  <div class="admin1">Admin</div>
                </div>
              </div>
            </div>
            <div class="placeholder24"></div>
          </div>
        </div>
        <div class="plan1">
          <div class="background32"></div>
          <img class="masking-icon" alt="" src="./public/masking.svg" />

          <div class="plan-content">
            <div class="plan-details">
              <div class="plan-header">
                <div class="plan-title">
                  <div class="title5">Your Plan</div>
                  <h2 class="title6">Free</h2>
                </div>
                <div class="progress-indicators">
                  <div class="individual-indicator-parent">
                    <div class="individual-indicator">
                      <div class="dot"></div>
                    </div>
                    <div class="title7">50 GB Storage</div>
                  </div>
                  <div class="frame-parent10">
                    <div class="dot-wrapper">
                      <div class="dot1"></div>
                    </div>
                    <div class="title8">Limited Features</div>
                  </div>
                </div>
              </div>
              <img
                class="dots-icon6"
                loading="lazy"
                alt=""
                src="./public/dots-1.svg"
              />
            </div>
            <div class="title9">
              Upgrade to Premium Plan to get more Features & Storage memory
            </div>
          </div>
          <button class="buttonprimarysmalllight">
            <div class="title10">Upgrade Plan</div>
          </button>
        </div>
        <div class="activity-header">
          <b class="lastest-activity">Lastest Activity</b>
        </div>
        <div class="activity-feed">
          <div class="feed-content">
            <div class="activity-item">
              <div class="item-indicators"></div>
              <div class="item-indicators1"></div>
              <div class="item-indicators2"></div>
              <div class="line-parent1">
                <img
                  class="line-icon1"
                  loading="lazy"
                  alt=""
                  src="./public/line1.svg"
                />

                <div class="activity-content"></div>
              </div>
            </div>
          </div>
          <div class="activity-details">
            <div class="activity-summary">
              <div class="karen-hope-moved-container">
                <span class="karen-hope-moved-task">
                  <b class="karen-hope4">Karen Hope</b>
                  <span class="span4"> </span>
                  <span class="moved-task">moved task</span>
                  <span class="span5"> </span>
                  <b>“</b>
                </span>
                <b>
                  <span>User Research</span>
                </b>
                <span>
                  <b>“</b>
                  <span class="span6"> </span>
                  <span class="from">from</span>
                  <span class="span7"> </span>
                  <b class="on-progress">On Progress</b>
                  <span class="span8"> </span>
                  <span class="to">to</span>
                  <span class="span9"> </span>
                  <b class="done">Done</b>
                </span>
              </div>
              <div class="march-2021-1345">2 March 2021, 13:45 PM</div>
            </div>
            <div class="activity-summary1">
              <div class="samantha-william-add-container">
                <span>
                  <b class="samantha-william4">Samantha William </b>
                  <span class="add-new">add new</span>
                  <b class="b1"> 4 </b>
                  <span>attached files on task</span>
                  <b class="b2"> “</b>
                </span>
                <b class="photos-assets">
                  <span>Photo’s Assets</span>
                  <span class="span10">“</span>
                </b>
              </div>
              <div class="march-2021-13451">2 March 2021, 13:45 PM</div>
            </div>
            <div class="activity-summary2">
              <div class="tony-soap-invite-container">
                <span>
                  <b class="tony-soap4">Tony Soap </b>
                  <span>invite you in task</span>
                  <b class="b3"> “</b>
                </span>
                <b class="wireframing">
                  <span>Wireframing</span>
                  <span>“ </span>
                </b>
                <span>
                  <span>and</span>
                </span>
                <b class="hi-fidelity">
                  <span> “</span>
                  <span>Hi-fidelity</span>
                  <span class="span11">“</span>
                </b>
              </div>
              <div class="march-2021-13452">2 March 2021, 13:45 PM</div>
            </div>
            <div class="activity-summary3">
              <div class="samantha-william-created-container">
                <span>
                  <b>Samantha William </b>
                  <span class="created-new">created new</span>
                  <b class="b4"> </b>
                </span>
                <b class="task">
                  <span>Task</span>
                </b>
              </div>
              <div class="march-2021-13453">2 March 2021, 13:45 PM</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
 