<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="{{url_for("static", path="css/global.css")}}" />
    <link rel="stylesheet" href="{{url_for("static", path="css/verify_password_code.css")}}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Volkhov:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Mountains of Christmas:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap"
    />
  </head>
  <body>
    <div class="signup2">
      <div class="signup-child">
        <div class="a-i-s-banner-parent">
          <div class="a-i-s-banner">
            <div class="ais2">AIS</div>
          </div>
          <h2 class="automatic-invigilating-system2">
            automatic invigilating system
          </h2>
        </div>
      </div>
      <div class="frame-div">
        <div class="enter-the-confirmation-code-wrapper">
          <h2 class="enter-the-confirmation">Enter The Confirmation Code</h2>
        </div>
        <div class="code-input-field-parent">
          <div class="code-input-field">
            <div class="code-input-label">
              <div class="confirmation-code-label">
                <div class="confirmation-code">Confirmation Code</div>
              </div>
              <div class="plan"></div>
            </div>
          </div>
          <button class="destination-cards">
            <div class="destination-cards-child"></div>
            <div class="recover-account">Recover Account</div>
          </button>
          <div class="resend-code">
            <div class="didnt-receive-confirmation-container">
              <span>Didn’t receive Confirmation Code? </span>
              <b class="resend-now">Resend Now</b>
            </div>
          </div>
        </div>
      </div>
      <div class="fasco-terms-codnitions-container">
        <div class="fasco-terms1">FASCO Terms & Codnitions</div>
      </div>
    </div>
  </body>
</html>
